@model MVCUIDesigning.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayStudent</title>
</head>
<body>
    <div>
        @{Html.RenderPartial("_Header");}

        <h4>Student Details</h4>
        <ul>
            <li>Student Id: @Model.Sid</li>
            <li>Student Name: @Model.Name</li>
            <li>Student Class: @Model.Class</li>
            <li>Student Gender: @Model.Gender</li>
            <li>Student Fees: @Model.Fees</li>
            <li>Student Address: @Model.Address</li>
        </ul>

    </div>
</body>
</html>
